.body {
  background-color: #27374D;
  width: 98.7vw;
  height: 100vh;
  color: #DDE6ED;
}
*{
  margin: 0;
  padding: 0;
}

.suggestionsContainer{
  display: flex;
  flex-direction: column;
  background-color: #27374D;
  text-align: center;
  padding-bottom: 15px;

}

.suggestionsTitle{
  display: inline-block;
  border-bottom: solid 1px #DDE6ED;
  margin-block: 10px 25px;
  font-size: 25px;
}



.suggestions{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.cardContainer {
  border: solid 1.5px #9DB2BF;
  display: flex;
  flex-direction: column;
  background-color: #526D82;
  flex-basis: calc(25% - 17px);
  margin: 3px 7px;
  text-align: center;
}


.card-name {
  font-size: 17px;
}

.card-artist {
  font-size: 11px;
}

.albumPic{
  max-width: 110px;
  max-height: 110px;
}
.albumPlayContainer{
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
.playButtonWrapper {
  margin-right: 10px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton{
  font-size: 1.6rem;
  margin-left: 4px;
  margin-top: 1px;
}
.playButton:active{
  color: #27374D;
}
.playButtonBackground {
  border: solid 3.5px blue;
  background-color: #3D5268;
  border-radius: 50%;
  padding: 11px 11px;
}
.playButtonBackground:active {
  border: solid 3.5px #27374D;
  background-color: #50c9d9;
}
.playButtonBackground:visited {
  border: solid 3.5px #551A8B;
  background-color: #27374D;
}

.seedsDisplayContainer{
  margin-top: 15px;
  margin-bottom: 25px;
}
.seedDisplay{
  margin-top: 15px;
  margin-bottom: 25px;
}
.seed:hover{
  color: red;
}
.email{
  color: #50c9d9;
  font-size: 14px;
}
.email:visited{
  color: #50c9d9;
}

.dropdown{
  max-width: 100px;
}
.dropdownContainer {
  display: flex;
  justify-content: space-around;
}

.card-link {
  list-style: none;
}

.numbersContainer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: #404752;
  color: #9aa1a6;
}
.numbersContainer .minMaxRow:nth-child(odd) {
  background-color: #697580;
}
.numbersContainer .minMaxRowActive:nth-child(odd) {
  background-color: #526D82;
  color: #DDE6ED;
}
.numbersContainer .minMaxRowActive:nth-child(even) {
  background-color: #27374D;
  color: #DDE6ED;
}

.numberInput{
  max-width: 50px;

}

.minMaxPart{
  display: flex;
}
.minMaxEl{
  margin-right: 16vw;
}
.minMaxRow {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-block: 3.55px;
  transition: border-top 0.5s, border-bottom 0.5s;
  border-bottom: solid 1px transparent;
  border-top: solid 1px transparent;
}

.minMaxRowActive {
  border-bottom: solid 1px #50c9d9;
}

.minMaxRowActive:first-of-type {
  border-top: solid 1px #50c9d9;
}
.minMaxRowActive:last-of-type {
  border-bottom: solid 1px #50c9d9;
}
.endEl{
  margin-right: 0px;
}
.buttonAndNameContainer{
  display: flex;
  align-items: center;
}
.toggleCircle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-inline: 5px 10px;
}
.toggleCircleActive{
  background-color: #50c9d9;
  transition: background-color 0.3s;
}

.presetButtonsContainer{
  display: flex;
  justify-content: space-between;
}
.presetElementContainer{
  display: flex;
  align-items: center;
}
.recommendationsButtonContainer{
  text-align: center;
}
.redText{
  color: red;
  margin-right: 15px;
}
.redTextRecommendations{
  color: red;
}

.button{
  height: 25px;
  padding-inline: 10px;
  border-radius: 5px;
}
.getRecomendationsButton{
  height: 50px;
  padding-inline: 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
}
select{
  border-radius: 5px;
}
input{
  border-radius: 5px;
  
}

@media (max-width: 893px){
  .cardContainer {
    flex-basis: calc(33% - 17px);
    margin: 3px 7px;
  }
  .card-name {
    font-size: 12px;
  }
  
  .card-artist {
    font-size: 7px;
  }
  
  .card-link {
    font-size: 8px;
    border-bottom: solid 1px #DDE6ED;
  }
  
}


@media (max-width: 641px){
  .cardContainer {
    flex-basis: calc(50% - 17px);
    margin: 3px 7px;
  }
}
@media (max-width: 426px){
  .cardContainer {
    flex-basis: calc(100% - 17px);
    margin: 3px 7px;
  }
}